.cart-container{
    display:flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.price-detail-container{
    width: 25rem;
    padding:2rem;
    border-radius: 5px;

}

.remove-cart{
    background-color:var(--light-grey);
    border-radius: 0;

}

.placeholder-btn{
    display:flex;
    justify-content: center;
    background-color:var(--primary-color);
    color:var(--white-color);
    padding:16px 0;
    border: none;
    cursor:pointer;
}

a{
    color:var(--black-color)
 }

@media only screen and (max-width:31.25em){
    .horizontal{
        margin-bottom: 6rem;
    }
    .btn-group{
        display:flex;
        width: 500px;

    }
    .cart-btn{
       padding: 0.5rem 1rem;
       
    }
   
}