/* grid css */
.grid-container {
  display: grid;
  height: 100vh;
}

.ecom-sidebar {
  grid-column: 2 / 4;
  grid-row: 2 / 6;
  position:fixed;
  width: 15rem;
}

.slider {
  width: 100%;
}

.product-heading{
  margin-left: 13.5rem;
  margin-top: 2rem;
}

.ecom-main {
  grid-column: 2 / 6;
  grid-row: 1 / 6;
  display: grid;
  justify-content: center;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.scale {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.scale:hover {
  transform: scale(1.1);
}

/* button style */

.go-to-cart {
  width: 100%;
}



.clear-btn {
    font-size: 1rem;
    text-decoration: underline;
}

a{
  color:var(--black-color)
}

@media only screen and (max-width: 500px){
  .ecom-main {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
  }

}