<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://create-ui.netlify.app/css/components.css"
    />
    <script
      src="https://kit.fontawesome.com/1caf5c28e9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/Product-page/product-page.css" />
    <title>Product Page</title>
  </head>
  <body>
    <div class="product-container plr-1">
      <header class="ecom-header mt-1">
        <nav class="ecom-nav">
          <h2 class="ecom-title">Shop<span class="ui-text">io</span></h2>
          <div class="input-parent">
            <i class="search fas fa-search"></i>
            <input class="ecom-input" type="text" placeholder="Search" />
          </div>
          <div class="ecom-group">
            <button class="btn btn-primary">Login</button>
            <div class="badge">
              <i class="heart far fa-heart"></i>
              <div class="number">0</div>
            </div>
            <div class="badge">
              <i class="shopping-cart fas fa-shopping-cart"></i>
              <div class="number">0</div>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <div class="grid-container mt-2">
      <aside class="ecom-sidebar plr-2 border">
        <div class="flex mb-1">
          <h3>Filter</h3>
          <button class="btn clear-btn" href="">Clear</button>
        </div>
        <h3 class="mb-1">price</h3>
        <div class="slider">
          <input type="range" />
          <datalist id="tickmarks">
            <label for="">50</label>
            <option value="0" label="0%">0</option>
            <option value="10"></option>
            <option value="20"></option>
            <option value="30"></option>
            <option value="40"></option>
            <label for="">100</label>
            <option value="50" label="50%">50</option>
            <option value="60"></option>
            <option value="70"></option>
            <option value="80"></option>
            <option value="90"></option>
            <label for="">100</label>
            <option value="100" label="100%"></option>
          </datalist>
          <h3 class="mb-1 mt-1">Category</h3>
          <div>
            <input type="checkbox" checked />
            <label for="Men Clothing">Mens Clothing</label>
          </div>
          <div></div>
          <input type="checkbox" />
          <label for="Women Clothing">Women Clothing</label>
          <h3 class="mb-1 mt-2">Rating</h3>
          <div>
            <input type="radio" />
            <label for="">4 Stars & above</label>
          </div>
          <div>
            <input type="radio" checked />
            <label for="">3 Stars & above</label>
          </div>
        </div>
      </aside>
      
       
        <main class="ecom-main">
        <div class="ecom-card">
          <div class="product-image">
            <img
              class="image"
              src="/assets/mens-jacket.webp"
              alt="mens-jacket"
            />
          </div>
          <div class="card-content">
            <div class="card-title center-text">Mens Premium Jacket</div>
            <div class="price">
              <h3 class="price-now center">₹8,999</h3>
            </div>
            <div class="like">
              <img src="/assets/love.png" alt="like.png" />
            </div>
            <div class="center">
              
              <a href="/" class="add-to-cart center go-to-cart">Add to Card</a>
            </div>
          </div>
        </div>
        <div class="ecom-card">
          <div class="product-image">
            <img
              class="image"
              src="/assets/mens-jacket.webp"
              alt="mens-jacket"
            />
          </div>
          <div class="card-content">
            <div class="card-title center-text">Mens Premium Jacket</div>
            <div class="price">
              <h3 class="price-now center">₹8,999</h3>
            </div>
            <div class="like">
              <img src="/assets/love.png" alt="like.png" />
            </div>
            <div class="center">
              <button class="add-to-cart go-to-cart">Go to Cart</button>
            </div>
          </div>
        </div>
        <div class="ecom-card">
          <div class="product-image">
            <img
            class="image"
              src="/assets/mens-jacket.webp"
              alt="mens-jacket"
            />
          </div>
          <div class="card-content">
            <div class="card-title center-text">Mens Premium Jacket</div>
            <div class="price">
              <h3 class="price-now center">₹8,999</h3>
            </div>
            <div class="like">
              <img src="/assets/love.png" alt="like.png" />
            </div>
            <div class="center">
              <button class="add-to-cart go-to-cart">Go to Cart</button>
            </div>
          </div>
        </div>
        <div class="ecom-card">
          <div class="product-image">
            <img
            class="image"
              src="/assets/mens-jacket.webp"
              alt="mens-jacket"
            />
          </div>
          <div class="card-content">
            <div class="card-title center-text">Mens Premium Jacket</div>
            <div class="price">
              <h3 class="price-now center">₹8,999</h3>
            </div>
            <div class="like">
              <img src="/assets/love.png" alt="like.png" />
            </div>
            <div class="center">
              <button class="add-to-cart go-to-cart">Go to Cart</button>
            </div>
          </div>
        </div>
        <div class="ecom-card">
          <div class="product-image">
            <img
            class="image"
              src="/assets/mens-jacket.webp"
              alt="mens-jacket"
            />
          </div>
          <div class="card-content">
            <div class="card-title center-text">Mens Premium Jacket</div>
            <div class="price">
              <h3 class="price-now center">₹8,999</h3>
            </div>
            <div class="like">
              <img src="/assets/love.png" alt="like.png" />
            </div>
            <div class="center">
              <button class="add-to-cart go-to-cart">Go to Cart</button>
            </div>
          </div>
        </div>
        <div class="ecom-card">
          <div class="product-image">
            <img
              class="image"
              src="/assets/mens-jacket.webp"
              alt="mens-jacket"
            />
          </div>
          <div class="card-content">
            <div class="card-title center-text">Mens Premium Jacket</div>
            <div class="price">
              <h3 class="price-now center">₹8,999</h3>
            </div>
            <div class="like">
              <img src="/assets/love.png" alt="like.png" />
            </div>
            <div class="center">
              <button class="add-to-cart go-to-cart">Go to Cart</button>
            </div>
          </div>
        </div>
        <div class="ecom-card">
          <div class="product-image">
            <img
              class="image"
              src="/assets/mens-jacket.webp"
              alt="mens-jacket"
            />
          </div>
          <div class="card-content">
            <div class="card-title center-text">Mens Premium Jacket</div>
            <div class="price">
              <h3 class="price-now center">₹8,999</h3>
            </div>
            <div class="like">
              <img src="/assets/love.png" alt="like.png" />
            </div>
            <div class="center">
              <button class="add-to-cart go-to-cart">Go to Cart</button>
            </div>
          </div>
        </div>
        <div class="ecom-card">
          <div class="product-image">
            <img
              class="image"
              src="/assets/mens-jacket.webp"
              alt="mens-jacket"
            />
          </div>
          <div class="card-content">
            <div class="card-title center-text">Mens Premium Jacket</div>
            <div class="price">
              <h3 class="price-now center">₹8,999</h3>
            </div>
            <div class="like">
              <img src="/assets/love.png" alt="like.png" />
            </div>
            <div class="center">
              <button class="add-to-cart go-to-cart">Go to Cart</button>
            </div>
          </div>
        </div>
        
      </main>
    </div>
  </body>
</html>
